# npm modules
node_modules
bower_components
d3.js
d3.min.js
components
build
.sass-cache

# coverage report
/coverage
.idea/c3-abe.iml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
